.frame-kq {
    border: 1px solid #e8e8e8;
    margin-top: 0 !important;
}
.back_gray {
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
}

.rd > a {
    color: #900 !important;
    text-decoration: underline;
}

.mega_result {
    font-size: 26px;
}

.mega_result ul,
.mega_result ul li {
    text-align: center;
    list-style-type: none;
}

.mega_result ul li {
    width: 57px;
    height: 57px;
    line-height: 57px;
    font-size: 30px;
    background: #c00;

    color: #fff;
    border: 3px solid #c00;
    display: inline-block;
    border-radius: 57px;
    vertical-align: middle;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 10px;
}

.circle-num i {
    font-style: normal;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* border: 2px solid #fff; */
    border: 1px solid #c00;
    background-color: #c00;
    display: inline-block;
    margin: 0 5px 0 0;
    font-weight: normal;
}
.ketqua table td {
    border: 1px #e8e8e8 solid;
    padding: 3px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.circle-num i {
    font-style: normal;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* border: 2px solid #fff; */
    border: 1px solid #c00;
    background-color: #c00;
    display: inline-block;
    margin: 0 5px 0 0;
    font-weight: normal;
}

.header-top {
    background: #56555a !important;
}
.menu-header-top a {
    color: white !important;
    font-size: 14px;
    padding: 2px 5px;
    display: block;
}
.menu-header-top li + li {
    border-left: 1px solid #fff;
}
div.main-menu span.kq-home {
    background: rgba(255, 255, 255, 0.288);
    font-size: 20px;
}
div.main-menu {
    justify-content: unset !important;
}
ul.main-menu > li {
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding-left: 10px;
}
ul.sub-menu > li {
    line-height: 40px;
}
ul.sub-menu {
    border-top: 4px solid var(--red);
}

#nav-menu .sub-menu a {
    padding: 0 16px;    
}

#menu {
    margin: 0;
}
@media (max-width: 992px) {
    #fixerror {
        width: 100% !important;
    }
}

ul.main-menu .menu-search:hover,
ul.main-menu li:hover,
ul.main-menu > li.active {
    background: #33496d;
}

ul.main-menu > li {
    position: relative;
}

ul.sub-menu {
    border: none !important;
    left: 0;
    width: auto;
    min-width: 100%;
}

div.main-menu {
    overflow: visible;
}

aside,
.bg-white.p-2.rounded {
    border-radius: 0 !important;
}

article.my-2 {
    margin-top: 0 !important;
}

ul.sub-menu > .active {
    background: #33496d;
}

.result-single {
    border-radius: 0 !important;
}

ul.sub-menu > li {
    padding-left: 0;
    padding-right: 0;
}


submenu2 {
    margin-top: 8px;
}

submenu2 ul {
    border-radius: 0 !important;
}

main.main-home > .container > .row {
    justify-content: space-between;
}

.check-radio label:hover,
.check-number li:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}
.title-bg-danger {
    background: #dc3545;
    color: var(--white);
    min-height: 40px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-header-top:first-child {
    margin-left: -20px;
}

.menu-header-top:nth-child(2) {
    margin-right: -20px;
}

.result table tfoot td {
    justify-content: center;
}

div.check-radio,
div.check-number {
    margin: 0 15px;
}

main .container:first-child .row:nth-child(2) {
    justify-content: space-between;
}

.result.result-multi {
    border-radius: 0px !important;
}

.ketqua table th {
    border: 1px #ccc solid;
    padding: 3px;
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    text-align: center;
}
.back_gray {
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
}
.left8 {
    padding-left: 8px;
    clear: both;
}
.ketqua table {
    border-collapse: collapse;
}
