main {
  background-color: rgba(238, 227, 228, 0.7);

  #content {
    max-width: 534px;
    margin: 0 7px;
    padding: 3.5px;
  }

  .rootitem {
    padding: 3.5px;

    .listitem {
      margin: 0;
      padding: 3.5px;

      img {
        width: 100%;
      }
    }
  }
}